<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vishal.chetan.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GlobalFunctions"
        android:allowBackup="true"
        android:icon="@mipmap/ic_news"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".android.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName=".android.NewsFeed"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".android.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.NewsFeed"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".android.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.LoginActivity" />
        </activity>
        <activity android:name=".android.ProfileActivity" />
        <activity
            android:name=".android.SourcesManagerActivity"
            android:label="@string/title_activity_sources_manager"
            android:parentActivityName=".android.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="vishal.chetan.splash.android.SourcesManagerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.SettingsActivity" />
        </activity>
        <activity
            android:name=".android.ViewThreadActivity"
            android:label="@string/title_activity_view_thread"
            android:parentActivityName=".android.NewsFeed"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.NewsFeed" />
        </activity>
        <activity android:name=".android.PostActivity" />
        <activity android:name=".android.AboutActivity" />
        <activity android:name=".ThreadInfoActivity" />
        <activity android:name=".android.CommentActivity" />
    </application>

</manifest>