<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vishal.chetan.splash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="vishal.chetan.splash.GlobalFunctions"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vishal.chetan.splash.android.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.SplashScreen" />
        </activity>
        <activity
            android:name="vishal.chetan.splash.android.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vishal.chetan.splash.android.NewsFeed"
            android:label="@string/title_activity_news_feed"
            android:parentActivityName="vishal.chetan.splash.android.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.LoginActivity" />
        </activity>
        <activity
            android:name="vishal.chetan.splash.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vishal.chetan.splash.android.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="vishal.chetan.splash.android.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.LoginActivity" />
        </activity>
        <activity android:name="vishal.chetan.splash.android.ProfileActivity" />
        <activity
            android:name="vishal.chetan.splash.android.SourcesManagerActivity"
            android:label="@string/title_activity_sources_manager"
            android:parentActivityName="vishal.chetan.splash.android.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="vishal.chetan.splash.SourcesManagerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vishal.chetan.splash.android.SettingsActivity" />
        </activity>
    </application>

</manifest>